#artifact {
    --color-gray-100: rgba(223, 231, 234, 1);
    --color-gray-200: rgba(173, 185, 195, 1);
    --color-gray-300: rgba(123, 138, 156, 1);
    --color-gray-400: rgba(119, 139, 158, 1);
    --color-blue: rgba(1, 30, 65, 1);
    --color-orange: #ff8200;
    --color-yellow: #fdba40;
    --color-green: #32cdc8;
    --color-purple: #9a5394;
    --color-gray: #e6e6e6;
    --container: 1440px;
    --default-font-size: 16px;
    --heading-scale: 1.5;
    --text-scale: 1.25;
    --title-intro-base: 125%;
    --title-section-bigger: 155%;
    --title-section-base: 120%;
    --text-intro-base: 70%;
    --text-section-base: 90%;
    --default-electrolux-font: 'Electrolux Sans';
    --font-electrolux-light: 'Electrolux Sans Light';
    --font-electrolux-light-oblique: 'Electrolux Sans Light Oblique';
    --font-electrolux-semibold: 'Electrolux Sans SemiBold';
    --font-electrolux-semibold-oblique: 'Electrolux Sans SemiBold Oblique';
    --font-electrolux-bold: 'Electrolux Sans Bold';
    --font-electrolux-bold-oblique: 'Electrolux Sans Bold Oblique';
    --default-mademsa-font: 'Proxima Nova Regular';
    --font-mademsa-light: 'Proxima Nova Light';
    --font-mademsa-light-oblique: 'Proxima Nova Light Italic';
    --font-mademsa-bold: 'Proxima Nova Bold';
    --font-mademsa-bold-oblique: 'Proxima Nova Bold Italic';
}

#artifact * {
    box-sizing: border-box;
}

#artifact {
    max-width: var(--container);
    overflow-x: hidden;
    margin: 0 auto;
}

#artifact img,
#artifact video {
    min-width: 100% !important;
    max-width: 100% !important;
    display: block !important;
}

#artifact section {
    width: 100%;
    min-width: 100% !important;
    max-width: 100% !important;
    position: relative;
    margin: 0 auto;
    overflow: hidden !important;
    white-space: nowrap;
    object-fit: cover;
}

#artifact .electrolux-create-image {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: all ease-in-out 925ms;
}

#artifact sup {
    font-size: 52%;
}

#artifact .flex {
    display: flex;
}

#artifact .m-display-flex {
    display: flex;
}

#artifact .direction-row,
#artifact .m-direction-row {
    flex-direction: row;
}

#artifact .direction-column,
#artifact .m-direction-column {
    flex-direction: column;
}

#artifact .direction-row-reverse,
#artifact .m-direction-row-reverse {
    flex-direction: row-reverse;
}

#artifact .direction-column-reverse,
#artifact .m-direction-column-reverse {
    flex-direction: column-reverse;
}

#artifact .justify-center,
#artifact .m-justify-center {
    justify-content: center;
}

#artifact .justify-between,
#artifact .m-justify-between {
    justify-content: space-between;
}

#artifact .justify-start,
#artifact .m-justify-start {
    justify-content: flex-start;
}

#artifact .justify-end,
#artifact .m-justify-end {
    justify-content: flex-end;
}

#artifact .justify-around,
#artifact .m-justify-around {
    justify-content: space-around;
}

#artifact .justify-evenly,
#artifact .m-justify-evenly {
    justify-content: space-evenly;
}

#artifact .align-center,
#artifact .m-align-center {
    align-items: center;
}

#artifact .align-start,
#artifact .m-align-start {
    align-items: flex-start;
}

#artifact .align-stretch,
#artifact .m-align-stretch {
    align-items: flex-stretch;
}

#artifact .align-end,
#artifact .m-align-end {
    align-items: flex-end;
}

#artifact .grid {
    display: grid;
}

#artifact .d-display-grid {
    display: none;
}

#artifact .grid-item-normal {
    order: 1;
}

#artifact .grid-item-reverse {
    order: -1;
}

#artifact .grid-m-1-d-2,
#artifact .grid-m-1-d-3,
#artifact .grid-m-1-d-4,
#artifact .grid-m-1-d-5 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#artifact .grid-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#artifact .grid-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#artifact .grid-justify-strech {
    justify-self: stretch;
}

#artifact .d-display-block,
#artifact .d-display-flex {
    display: none;
}

#artifact .m-display-block {
    display: block;
}

#artifact .d-display-inline {
    display: none;
}

#artifact .display-inline,
#artifact .m-display-inline {
    display: inline;
}

#artifact .m-display-inline-block {
    display: inline-block;
}

#artifact .cursor-pointer {
    cursor: pointer;
}

#artifact .pointer-events-none {
    pointer-events: none !important;
}

#artifact .transition-all {
    transition: all;
    transition-duration: 400ms;
}

#artifact .transition-opacity {
    transition: opacity;
    transition-duration: 200ms;
}

#artifact .scale-100 {
    transform: scale(1, 1);
}

#artifact .scale-98 {
    transform: scale(0.98, 0.98);
}

#artifact .scale-90 {
    transform: scale(0.9, 0.9);
}

#artifact .scale-50 {
    transform: scale(0.5, 0.5);
}

#artifact .scale-0 {
    transform: scale(0, 0);
}

#artifact .opacity-0 {
    opacity: 0;
}

#artifact .opacity-25 {
    opacity: 0.25;
}

#artifact .opacity-50 {
    opacity: 0.5;
}

#artifact .opacity-100 {
    opacity: 1;
}

#artifact .-absolute-z {
    position: absolute;
    z-index: -1 !important;
}

#artifact .absolute,
#artifact .m-absolute {
    position: absolute;
    z-index: 20;
}

#artifact .fixed {
    position: fixed;
    z-index: 999999 !important;
}

#artifact .relative,
#artifact .m-relative {
    position: relative;
}

#artifact .-z-1 {
    z-index: -1 !important;
}

#artifact .z-1 {
    z-index: 1;
}

#artifact .z-20 {
    z-index: 20 !important;
}

#artifact .z-50 {
    z-index: 50 !important;
}

#artifact .z-100 {
    z-index: 100 !important;
}

#artifact .isolate {
    isolation: isolate;
}

#artifact .hidden {
    opacity: 0;
    pointer-events: none;
}

#artifact .op-0 {
    opacity: 0 !important;
}

#artifact .op-\.5 {
    opacity: 0.5 !important;
}

#artifact .op-\.25 {
    opacity: 0.25 !important;
}

#artifact .w-full,
#artifact .m-w-full {
    width: 100%;
}

#artifact .m-w-50\% {
    width: 50%;
}

#artifact .w-auto,
#artifact .m-w-auto {
    width: auto;
}

#artifact .h-full,
#artifact .m-h-full {
    height: 100% !important;
}

#artifact .m-h-auto {
    height: auto;
}

#artifact .h-50\%,
#artifact .m-h-50\% {
    height: 50% !important;
}

#artifact .bg-gray,
#artifact .m-bg-gray {
    background-color: var(--color-gray);
}

#artifact .bg-gray-lighter,
#artifact .m-bg-gray-lighter {
    background-color: var(--color-gray-100);
}

#artifact .bg-gray,
#artifact .m-bg-gray {
    background-color: var(--color-gray-200);
}

#artifact .bg-gray-dark,
#artifact .m-bg-gray-dark {
    background-color: var(--color-gray-300);
}

#artifact .bg-gray-darker,
#artifact .m-bg-gray-darker {
    background-color: var(--color-gray-400);
}

#artifact .bg-blue,
#artifact .m-bg-blue {
    background-color: var(--color-blue);
}

#artifact .bg-white,
#artifact .m-bg-white {
    background-color: white;
}

#artifact .bg-white-80,
#artifact .m-bg-white-80 {
    background-color: rgba(255, 255, 255, 0.8);
}

#artifact .bg-transparent,
#artifact .m-bg-transparent {
    background-color: transparent !important;
}

#artifact .bg-yellow,
#artifact .m-bg-yellow {
    background-color: var(--color-yellow);
}

#artifact .bg-green,
#artifact .m-bg-green {
    background-color: var(--color-green);
}

#artifact .bg-orange,
#artifact .m-bg-orange {
    background-color: var(--color-orange);
}

#artifact .bg-purple,
#artifact .m-bg-purple {
    background-color: var(--color-purple);
}

#artifact .m-text-gray,
#artifact .text-gray {
    color: var(--color-gray);
}

#artifact .m-text-gray-lighter,
#artifact .text-gray-lighter {
    color: var(--color-gray-100);
}

#artifact .m-text-gray-standard,
#artifact .text-gray-standard {
    color: var(--color-gray-200);
}

#artifact .m-text-gray-dark,
#artifact .text-gray-dark {
    color: var(--color-gray-300);
}

#artifact .m-text-gray-darker,
#artifact .text-gray-darker {
    color: var(--color-gray-400);
}

#artifact .m-text-blue,
#artifact .text-blue {
    color: var(--color-blue);
}

#artifact .m-text-white,
#artifact .text-white {
    color: white;
}

#artifact .text-yellow,
#artifact .m-text-yellow {
    color: var(--color-yellow);
}

#artifact .text-green,
#artifact .m-text-green {
    color: var(--color-green);
}

#artifact .text-orange,
#artifact .m-text-orange {
    color: var(--color-orange);
}

#artifact .text-purple,
#artifact .m-text-purple {
    color: var(--color-purple);
}

#artifact .m-relative,
#artifact .-m-relative-z {
    position: relative;
}

#artifact .m-absolute-d-relative {
    position: absolute;
}

#artifact .right-0 {
    right: 0;
}

#artifact .left-0 {
    left: 0;
}

#artifact .top-0 {
    top: 0;
}

#artifact .bottom-0 {
    bottom: 0;
}

#artifact .top-0-right-0 {
    top: 0;
    right: 0;
}

#artifact .bottom-0-right-0 {
    bottom: 0;
    right: 0;
}

#artifact .top-0-left-0 {
    top: 0;
    left: 0;
}

#artifact .bottom-0-left-0 {
    bottom: 0;
    left: 0;
}

#artifact .m-top-0 {
    top: 0;
}

#artifact .m-bottom-0 {
    bottom: 0;
}

#artifact .opverflow-hidden {
    overflow: hidden;
}

#artifact .svg {
    width: 100% !important;
    height: auto !important;
}

#artifact .inline-block {
    display: inline-block;
}

#artifact .padding-full-0\.25em {
    padding: 0.25em;
}

#artifact .padding-full-0\.5em {
    padding: 0.5em;
}

#artifact .padding-full-1em,
#artifact .m-padding-full-1em {
    padding: 1em;
}

#artifact .padding-full-2em,
#artifact .m-padding-full-2em {
    padding: 2em;
}

#artifact .padding-full-3em,
#artifact .m-padding-full-3em {
    padding: 3em;
}

#artifact .padding-1em-3em,
#artifact .m-padding-1em-3em {
    padding: 1em 3em;
}

#artifact .padding-1\.5em-0 {
    padding: 1.5em 0;
}

#artifact .padding-2em-0 {
    padding: 2em 0;
}

#artifact .padding-3em-0 {
    padding: 3em 0;
}

#artifact .padding-full-2\.25em {
    padding: 2.25em;
}

#artifact .padding-full-4em {
    padding: 4em;
}

#artifact .padding-top-0\.25em {
    padding-top: 0.25em;
}

#artifact .padding-top-0\.5em,
#artifact .m-padding-top-0\.5em {
    padding-top: 0.5em;
}

#artifact .padding-top-1em,
#artifact .m-padding-top-1em {
    padding-top: 1em;
}

#artifact .padding-top-1\.5em {
    padding-top: 1.5em;
}

#artifact .padding-top-2em,
#artifact .m-padding-top-2em {
    padding-top: 2em;
}

#artifact .padding-bottom-0\.5em {
    padding-bottom: 0.5em;
}

#artifact .padding-bottom-1em {
    padding-bottom: 1em;
}

#artifact .padding-bottom-1\.5em {
    padding-bottom: 1.5em;
}

#artifact .padding-bottom-2em {
    padding-bottom: 2em;
}

#artifact .padding-0\.5em-1em {
    padding: 0.5em 1em;
}

#artifact .padding-1em-2em {
    padding: 1em 2em;
}

#artifact .padding-top-2em {
    padding-top: 2em;
}

#artifact .padding-bottom-0\.75em {
    padding-bottom: 0.75em;
}

#artifact .padding-bottom-1em {
    padding-bottom: 1em;
}

#artifact .padding-bottom-2em {
    padding-bottom: 2em;
}

#artifact .padding-bottom-3em {
    padding-bottom: 3em;
}

#artifact .padding-bottom-4em {
    padding-bottom: 4em;
}

#artifact .m-padding-2em-0,
#artifact .padding-2em-0 {
    padding: 2em 0;
}

#artifact .m-padding-4em-0,
#artifact .padding-4em-0 {
    padding: 4em 0;
}

#artifact .m-padding-8em-0,
#artifact .padding-8em-0 {
    padding: 8em 0;
}

#artifact .m-padding-9em-0,
#artifact .padding-9em-0 {
    padding: 9em 0;
}

#artifact .m-padding-12em-0,
#artifact .padding-12em-0 {
    padding: 12em 0;
}

#artifact .padding-2\.25em-0 {
    padding: 2.25em 0;
}

#artifact .margin-bottom-0\.5em {
    margin-bottom: 0.5em;
}

#artifact .margin-bottom-1em {
    margin-bottom: 1em;
}

#artifact .margin-bottom-2em {
    margin-bottom: 2em;
}

#artifact .margin-bottom-4em {
    margin-bottom: 4em;
}

#artifact .margin-0\.5em-0 {
    margin: 0.5em 0;
}

#artifact .margin-0\.75em-0 {
    margin: 0.75em 0;
}

#artifact .margin-1em-0 {
    margin: 1em 0;
}

#artifact .margin-2em-0 {
    margin: 2em 0;
}

#artifact .margin-top-1em,
#artifact .m-margin-top-1em {
    margin-top: 1em;
}

#artifact .m-margin-top-0\.5em,
#artifact .margin-top-0\.5em {
    margin-top: 0.5em;
}

#artifact .m-margin-top-0\.75em,
#artifact .margin-top-0\.75em {
    margin-top: 0.75em;
}

#artifact .margin-top-2em {
    margin-top: 2em;
}

#artifact .margin-top-4em,
#artifact .m-margin-top-4em {
    margin-top: 4em;
}

#artifact .margin-top-8em {
    margin-top: 8em;
}

#artifact .margin-0\.5em {
    margin: 0 0.5em;
}

#artifact .margin-2em {
    margin: 0 2em;
}

#artifact a.no-decoration {
    text-decoration: none !important;
}

#artifact a.d-disabled {
    pointer-events: all;
}

#artifact .bullet {
    display: flex;
    margin-left: 0.75em;
    align-items: center;
}

#artifact .bullet.bullet-center {
    justify-content: center;
}

#artifact .bullet.bullet-start {
    justify-content: start;
}

#artifact .bullet::after {
    content: '';
    background: white;
    width: 0.25em;
    height: 0.25em;
    border-radius: 99999px;
    position: absolute;
    left: -0.75em;
}

#artifact .pointer-events-none > img {
    pointer-events: none;
}

@media screen and (min-width: 48em /* 768px */) {
    #artifact .d-display-block {
        display: block !important;
    }

    #artifact .m-display-flex {
        display: none !important;
    }

    #artifact .d-display-flex {
        display: flex !important;
    }

    #artifact .d-display-grid {
        display: grid !important;
    }

    #artifact .d-display-inline {
        display: inline !important;
    }

    #artifact .m-display-block,
    #artifact .m-display-inline-block,
    #artifact .m-display-inline {
        display: none !important;
    }

    #artifact .d-direction-row {
        flex-direction: row !important;
    }

    #artifact .d-direction-column {
        flex-direction: column !important;
    }

    #artifact .d-direction-row-reverse {
        flex-direction: row-reverse !important;
    }

    #artifact .d-direction-column-reverse {
        flex-direction: column-reverse !important;
    }

    #artifact .d-justify-center {
        justify-content: center !important;
    }

    #artifact .d-justify-between {
        justify-content: space-between !important;
    }

    #artifact .d-justify-start {
        justify-content: flex-start !important;
    }

    #artifact .d-justify-end {
        justify-content: flex-end !important;
    }

    #artifact .d-justify-around {
        justify-content: space-around !important;
    }

    #artifact .d-justify-evenly {
        justify-content: space-evenly !important;
    }

    #artifact .d-align-center {
        align-items: center !important;
    }

    #artifact .d-align-start {
        align-items: flex-start !important;
    }

    #artifact .d-align-end {
        align-items: flex-end !important;
    }

    #artifact .d-align-stretch {
        align-items: stretch !important;
    }

    #artifact .grid-2 {
        grid-template-columns: 1fr 1fr;
    }

    #artifact .d-grid-item-reverse {
        order: -1;
    }

    #artifact .grid-m-1-d-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    #artifact .grid-m-1-d-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    #artifact .grid-m-1-d-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    #artifact .grid-m-1-d-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    #artifact .d-relative {
        position: relative !important;
    }

    #artifact .d-absolute {
        position: absolute !important;
    }

    #artifact .d-right-0 {
        right: 0;
    }

    #artifact .d-left-0 {
        left: 0;
    }

    #artifact .d-top-0 {
        top: 0;
    }

    #artifact .d-bottom-0 {
        bottom: 0;
    }

    #artifact .d-top-0-right-0 {
        top: 0;
        right: 0;
    }

    #artifact .d-top-0-left-0 {
        top: 0;
        left: 0;
    }

    #artifact .d-text-blue {
        color: var(--color-blue);
    }

    #artifact .d-text-white {
        color: white;
    }

    #artifact .m-bottom {
        bottom: auto !important;
    }

    #artifact .m-top {
        top: auto !important;
    }

    #artifact .d-h-full {
        height: 100% !important;
    }

    #artifact .d-h-50\% {
        height: 50% !important;
    }

    #artifact .d-w-full {
        width: 100% !important;
    }

    #artifact .d-w-50\% {
        width: 50% !important;
    }

    #artifact .d-w-auto {
        width: auto !important;
    }

    #artifact .d-w-auto-t-none {
        width: auto !important;
        max-width: auto !important;
        transform: translateX(0) !important;
    }

    #artifact a.d-disabled {
        pointer-events: none;
    }

    #artifact .m-padding-top-0\.5em {
        padding-top: 0;
    }

    #artifact .m-padding-2em-0,
    #artifact .m-padding-4em-0,
    #artifact .m-padding-8em-0,
    #artifact .m-padding-9em-0,
    #artifact .m-padding-12em-0 {
        padding-top: 0;
        padding-bottom: 0;
    }

    #artifact .d-padding-top-0\.75em {
        padding-top: 0.75em;
    }

    #artifact .d-padding-top-1em {
        padding-top: 1em;
    }

    #artifact .d-margin-1em {
        margin: 0 1em !important;
    }

    #artifact .m-margin-top-1em,
    #artifact .m-margin-top-0\.5em {
        margin-top: 0;
    }

    #artifact .d-margin-top-0\.5em {
        margin: 0.5em 0 0 !important;
    }

    #artifact .m-padding-full-2em,
    #artifact .m-padding-full-3em,
    #artifact .m-padding-1em-3em {
        padding: 0;
    }

    #artifact .m-margin-top-4em,
    #artifact .m-margin-top-8em {
        margin-top: 0;
    }

    #artifact .d-margin-top-4em {
        margin-top: 4em !important;
    }

    #artifact .d-margin-top-8em {
        margin-top: 8em !important;
    }

    #artifact .d-padding-bottom-1em {
        padding-bottom: 1em;
    }

    #artifact .d-padding-bottom-2em {
        padding-bottom: 2em;
    }

    #artifact .d-padding-bottom-3em {
        padding-bottom: 3em;
    }

    #artifact .d-padding-bottom-4em {
        padding-bottom: 4em;
    }

    #artifact .d-padding-2\.25em-0 {
        padding: 2.25em 0;
    }

    #artifact .d-margin-bottom-0\.5em {
        margin-bottom: 0.5em;
    }

    #artifact .d-margin-bottom-1em {
        margin-bottom: 1em;
    }

    #artifact .d-margin-bottom-2em {
        margin-bottom: 2em;
    }

    #artifact .d-margin-bottom-4em {
        margin-bottom: 4em;
    }

    #artifact .d-margin-0\.5em-0 {
        margin: 0.5em 0;
    }

    #artifact .d-margin-0\.75em-0 {
        margin: 0.75em 0;
    }

    #artifact .d-margin-1em-0 {
        margin: 1em 0;
    }

    #artifact .d-margin-2em-0 {
        margin: 2em 0;
    }

    #artifact .d-margin-top-1em {
        margin-top: 1em;
    }

    #artifact .d-margin-top-0\.5em {
        margin-top: 0.5em;
    }

    #artifact .d-margin-top-2em {
        margin-top: 2em;
    }

    #artifact .d-margin-top-4em {
        margin-top: 4em;
    }

    #artifact .d-margin-top-8em {
        margin-top: 8em;
    }

    #artifact .d-margin-0\.5em {
        margin: 0 0.5em;
    }

    #artifact .d-margin-2em {
        margin: 0 2em;
    }

    #artifact .m-bg-blue,
    #artifact .m-bg-gray-lighter,
    #artifact .m-bg-gray,
    #artifact .m-bg-gray-dark,
    #artifact .m-bg-gray-darker {
        background-color: transparent;
    }

    #artifact .d-bg-gray-lighter {
        background-color: var(--color-gray-100) !important;
    }

    #artifact .d-bg-gray {
        background-color: var(--color-gray-200) !important;
    }

    #artifact .d-bg-gray-dark {
        background-color: var(--color-gray-300) !important;
    }

    #artifact .d-bg-gray-darker {
        background-color: var(--color-gray-400) !important;
    }

    #artifact .d-bg-blue {
        background-color: var(--color-blue) !important;
    }

    #artifact .d-bg-white {
        background-color: white !important;
    }

    #artifact .d-bg-white-80 {
        background-color: rgba(255, 255, 255, 0.8) !important;
    }

    #artifact .d-bg-transparent {
        background-color: transparent !important;
    }

    #artifact .m-absolute-d-relative {
        position: relative !important;
    }

    #artifact .d-absolute-z_negative {
        z-index: -1 !important;
    }

    #artifact .d-absolute,
    #artifact .d-absolute-z_negative {
        position: absolute !important;
    }

    #artifact .d-padding-full-2em {
        padding: 2em;
    }
}
