#artifact #intro-wrapper {
    width: 86%;
    min-width: 86%;
    max-width: 86%;
    white-space: nowrap;
    overflow: hidden;
}

#artifact #intro-wrapper.top {
    top: 4.92%;
}

#artifact #intro-wrapper.bottom {
    bottom: 4.92%;
}

#artifact #content-wrapper {
    width: 90%;
}

#artifact #intro-logo {
    width: 50.72%;
    min-width: 50.72%;
    max-width: 50.72%;
    padding-bottom: 5.75%;
    padding-top: 8.75%;
}

#artifact #intro-text {
    margin-top: 5.75%;
    padding: 2.5% 0 5%;
    isolation: isolate;
}

#artifact #intro-text::after {
    background-color: var(--color-gray-200);
    position: absolute;
    height: 120%;
    width: 140%;
    content: '';
    z-index: -1;
    left: -20%;
    top: 0;
}

#artifact section {
    width: 100%;
    padding: 0 !important;
}

#artifact section #video.video-full-width {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0 auto -0.375em !important;
}

#artifact section #video.video-full-width iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

#artifact section #video.video-framed-width {
    width: 82.86%;
    max-width: 82.86%;
    aspect-ratio: 16 / 9;
    margin: 12% auto;
}

#artifact section #video.video-framed-width iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

#artifact #electrolux-technical-details #technical-details-text,
#artifact .electrolux-technical-details .technical-details-text {
    width: 86%;
    padding: 8% 0 0;
}

#artifact #electrolux-technical-details #technical-details-text #technical-info,
#artifact .electrolux-technical-details .technical-details-text .technical-info {
    width: 100%;
}

#artifact #electrolux-technical-details #technical-details-text #technical-table,
#artifact .electrolux-technical-details .technical-details-text .technical-table {
    width: 100%;
    padding: 5% 0 0;
}

#artifact #electrolux-technical-details #technical-details-text #technical-table h4,
#artifact .electrolux-technical-details .technical-details-text .technical-table h4 {
    margin: 0 0 5.5% 0;
}

#artifact .table-line {
    border-radius: 8px;
    padding: 8px 1.5em 6px 10px;
    margin: 8px 0;
}

#artifact #electrolux-technical-details #technical-details-text #technical-table #table-second-column,
#artifact .electrolux-technical-details .technical-details-text .technical-table .table-second-column {
    margin: 4% 0 0;
}

#artifact #electrolux-footer {
    width: 100%;
    padding: 12% 0 10%;
}

#artifact #electrolux-footer #footer-logo {
    width: 70%;
    margin: 0 0 5% 0;
}

#artifact #electrolux-footer #footer-info {
    white-space: initial;
    width: 79%;
}

#artifact #electrolux-footer #footer-info p {
    margin: 0 0 2px 0;
}

@media screen and (min-width: 22.5em /* 360px */) {
    #artifact #content-wrapper {
        width: 86.5%;
    }
}

@media screen and (min-width: 24.25em /* 388px */) {
}

@media screen and (min-width: 26.563em /* 425px */) {
}

@media screen and (min-width: 36.125em /* 578px */) {
}

@media screen and (min-width: 48em /* 768px */) {
    #artifact #intro-wrapper {
        width: 45%;
        min-width: 45%;
        max-width: 45%;
    }

    #artifact #intro-wrapper.top {
        top: 11.25%;
    }

    #artifact #intro-wrapper.left {
        left: 4.5%;
    }

    #artifact #intro-wrapper.right {
        right: 4.5%;
    }

    #artifact #intro-wrapper.bottom {
        bottom: 9.5%;
    }

    #artifact #intro-logo {
        width: 65%;
        min-width: 65%;
        max-width: 65%;
        padding-bottom: 6%;
        padding-top: 8.75%;
    }

    #artifact section #video.video-framed-width {
        width: 82.86%;
        max-width: 82.86%;
        margin: 5% auto;
    }

    #artifact #electrolux-technical-details #technical-details-text,
    #artifact .electrolux-technical-details .technical-details-text {
        top: 0;
        left: 8%;
        width: 42%;
        height: 100% !important;
        padding: 0;
        transform: scale(0.75) translateX(-20%) translateY(0.35em) !important;
    }

    #artifact #electrolux-technical-details #technical-details-text #technical-table,
    #artifact .electrolux-technical-details .technical-details-text .technical-table {
        padding: 0;
    }

    #artifact .table-line {
        border-radius: 8px;
        padding: 8px 1.25em 6px 10px;
        margin: 6px 0;
    }

    #artifact #electrolux-footer {
        padding: 5% 0;
    }

    #artifact #electrolux-footer #footer-logo {
        width: 25%;
        margin: 0 0 2% 0;
    }

    #artifact #electrolux-footer #footer-info {
        width: 92.5%;
    }

    #artifact #electrolux-footer #footer-logo {
        margin: 0 0 3em 0 !important;
        width: 25% !important;
    }
}

@media screen and (min-width: 54em /* 864px */) {
    #artifact #intro-wrapper {
        width: 36%;
        min-width: 36%;
        max-width: 36%;
    }
}

@media screen and (min-width: 61.25em /* 980px */) {
    #artifact #intro-wrapper {
        width: 40%;
        min-width: 40%;
        max-width: 40%;
    }

    #artifact #content-wrapper {
        width: 84%;
    }

    #artifact #intro-text {
        margin-top: 2em;
        padding: 3.25% 0 4.5%;
    }
}

@media screen and (min-width: 64em /* 1024px */) {
}

@media screen and (min-width: 75em /* 1200px */) {
}

@media screen and (min-width: 80em /* 1280px */) {
}

@media screen and (min-width: 85.875em /* 1374px */) {
    #artifact #intro-wrapper {
        width: 40%;
        min-width: 40%;
        max-width: 40%;
    }

    #artifact #intro-logo {
        width: 56%;
        min-width: 56%;
        max-width: 56%;
    }
}

@media screen and (min-width: 89.25em /* 1428px */) {
}

@media screen and (min-width: 90em /* 1440px */) {
}
