#artifact .electrolux-swiper-object .electrolux-swiper-bullet-numbered {
    background: var(--color-blue);
    color: white;
    padding: 2px;
    opacity: 1;
}

#artifact .electrolux-swiper-object .electrolux-swiper-bullet-numbered p,
#artifact .electrolux-swiper-object .electrolux-swiper-bullet-complete p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    pointer-events: none;
}

#artifact .electrolux-swiper-object .electrolux-swiper-bullet-numbered.swiper-pagination-bullet-active {
    background: var(--color-gray-300);
}

#artifact .electrolux-swiper-object .electrolux-swiper-bullet-numbered,
#artifact .electrolux-swiper-object .electrolux-swiper-bullet-complete {
    width: 1.8em;
    height: 1.8em;
    line-height: 1.58em;
}

#artifact .electrolux-swiper-object .electrolux-swiper-bullet {
    background: var(--color-gray-200);
    padding: 0px;
    opacity: 1;
    width: 1em;
    height: 1em;
}

#artifact .electrolux-swiper-object .electrolux-swiper-bullet-numbered p {
    transform: scale(0.7);
}

#artifact .electrolux-swiper-object .swiper-pagination-bullets .swiper-pagination-bullet.electrolux-swiper-bullet {
    margin: 0 4px !important;
}

#artifact .swiper-pagination-bullet {
    opacity: 1 !important;
}

#artifact .swiper .swiper-bullets-blue .swiper-pagination-bullet.electrolux-swiper-bullet,
#artifact .swiper .swiper-bullets-blue .swiper-pagination-bullet.electrolux-swiper-bullet-numbered,
#artifact .swiper .swiper-active-bullet-blue .swiper-pagination-bullet.electrolux-swiper-bullet.swiper-pagination-bullet-active,
#artifact .swiper .swiper-active-bullet-blue .swiper-pagination-bullet.electrolux-swiper-bullet-numbered.swiper-pagination-bullet-active,
#artifact .swiper .button-bg-blue {
    background: var(--color-blue) !important;
}

#artifact .swiper .swiper-bullets-white .swiper-pagination-bullet.electrolux-swiper-bullet,
#artifact .swiper .swiper-bullets-white .swiper-pagination-bullet.electrolux-swiper-bullet-numbered,
#artifact .swiper .swiper-active-bullet-white .swiper-pagination-bullet.electrolux-swiper-bullet.swiper-pagination-bullet-active,
#artifact .swiper .swiper-active-bullet-white .swiper-pagination-bullet.electrolux-swiper-bullet-numbered.swiper-pagination-bullet-active,
#artifact .swiper .button-bg-white {
    background: white !important;
}

#artifact .swiper .swiper-bullets-gray-200 .swiper-pagination-bullet.electrolux-swiper-bullet,
#artifact .swiper .swiper-bullets-gray-200 .swiper-pagination-bullet.electrolux-swiper-bullet-numbered,
#artifact .swiper .swiper-active-bullet-gray-200 .swiper-pagination-bullet.electrolux-swiper-bullet.swiper-pagination-bullet-active,
#artifact .swiper .swiper-active-bullet-gray-200 .swiper-pagination-bullet.electrolux-swiper-bullet-numbered.swiper-pagination-bullet-active,
#artifact .swiper .button-bg-gray {
    background: var(--color-gray-200) !important;
}

#artifact .swiper .swiper-bullets-gray-300 .swiper-pagination-bullet.electrolux-swiper-bullet,
#artifact .swiper .swiper-bullets-gray-300 .swiper-pagination-bullet.electrolux-swiper-bullet-numbered,
#artifact .swiper .swiper-active-bullet-gray-300 .swiper-pagination-bullet.electrolux-swiper-bullet.swiper-pagination-bullet-active,
#artifact .swiper .swiper-active-bullet-gray-300 .swiper-pagination-bullet.electrolux-swiper-bullet-numbered.swiper-pagination-bullet-active,
#artifact .swiper .button-bg-gray-dark {
    background: var(--color-gray-300) !important;
}

#artifact .swiper .swiper-bullets-yellow .swiper-pagination-bullet.electrolux-swiper-bullet,
#artifact .swiper .swiper-bullets-yellow .swiper-pagination-bullet.electrolux-swiper-bullet-numbered,
#artifact .swiper .swiper-active-bullet-yellow .swiper-pagination-bullet.electrolux-swiper-bullet.swiper-pagination-bullet-active,
#artifact .swiper .swiper-active-bullet-yellow .swiper-pagination-bullet.electrolux-swiper-bullet-numbered.swiper-pagination-bullet-active,
#artifact .swiper .button-bg-yellow {
    background: var(--color-yellow) !important;
}

#artifact .swiper .swiper-bullets-purple .swiper-pagination-bullet.electrolux-swiper-bullet,
#artifact .swiper .swiper-bullets-purple .swiper-pagination-bullet.electrolux-swiper-bullet-numbered,
#artifact .swiper .swiper-active-bullet-purple .swiper-pagination-bullet.electrolux-swiper-bullet.swiper-pagination-bullet-active,
#artifact .swiper .swiper-active-bullet-purple .swiper-pagination-bullet.electrolux-swiper-bullet-numbered.swiper-pagination-bullet-active,
#artifact .swiper .button-bg-purple {
    background: var(--color-purple) !important;
}

#artifact .swiper .swiper-bullets-orange .swiper-pagination-bullet.electrolux-swiper-bullet,
#artifact .swiper .swiper-bullets-orange .swiper-pagination-bullet.electrolux-swiper-bullet-numbered,
#artifact .swiper .swiper-active-bullet-orange .swiper-pagination-bullet.electrolux-swiper-bullet.swiper-pagination-bullet-active,
#artifact .swiper .swiper-active-bullet-orange .swiper-pagination-bullet.electrolux-swiper-bullet-numbered.swiper-pagination-bullet-active,
#artifact .swiper .button-bg-orange {
    background: var(--color-orange) !important;
}

#artifact .swiper .swiper-bullets-green .swiper-pagination-bullet.electrolux-swiper-bullet,
#artifact .swiper .swiper-bullets-green .swiper-pagination-bullet.electrolux-swiper-bullet-numbered,
#artifact .swiper .swiper-active-bullet-green .swiper-pagination-bullet.electrolux-swiper-bullet.swiper-pagination-bullet-active,
#artifact .swiper .swiper-active-bullet-green .swiper-pagination-bullet.electrolux-swiper-bullet-numbered.swiper-pagination-bullet-active,
#artifact .swiper .button-bg-green {
    background: var(--color-green) !important;
}

#artifact .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.electrolux-swiper-bullet,
#artifact .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.electrolux-swiper-bullet {
    margin: 0 0.5em;
}

#artifact .swiper .button-rounded {
    border-radius: 99999px;
}

#artifact .swiper-bullet-text-white .swiper-pagination-bullet.electrolux-swiper-bullet-numbered p {
    color: #ffffff !important;
}

#artifact .swiper-horizontal > .swiper-pagination-bullets,
#artifact .swiper-pagination-bullets.swiper-pagination-horizontal,
#artifact .swiper-pagination-custom,
#artifact .swiper-pagination-fraction {
    bottom: 1.5em !important;
}

#artifact .swiper-button-next,
#artifact .swiper-button-prev {
    color: var(--color-blue);
}

#artifact .swiper-button-next.swiper-button-disabled,
#artifact .swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
    cursor: auto;
    pointer-events: none;
}

#artifact .swiper .swiper-text-white .swiper-pagination-bullet > p {
    color: #fff;
    font-weight: bold;
    transform: translateY(4px);
}

#artifact .swiper .swiper-text-electrolux .swiper-pagination-bullet > p {
    font-family: var(--default-electrolux-font) !important;
}

#artifact .swiper .swiper-text-mademsa .swiper-pagination-bullet > p {
    font-family: var(--default-mademsa-font) !important;
}

#artifact .swiper .swiper-button-prev.swiper-button-white,
#artifact .swiper .swiper-button-next.swiper-button-white {
    color: #fff !important;
}

#artifact .swiper .swiper-button-prev.swiper-button-fill-purple,
#artifact .swiper .swiper-button-next.swiper-button-fill-purple {
    background: var(--color-purple) !important;
}

#artifact .swiper .swiper-button-prev:after {
    transform: scale(0.6) translateX(-2px) !important;
}

#artifact .swiper .swiper-button-next:after {
    transform: scale(0.6) translateX(2px) !important;
}

#artifact .swiper-pagination .swiper-pagination-bullet {
    position: relative;
}

#artifact .swiper-pagination .swiper-pagination-bullet > p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#artifact .swiper .button-text-white.swiper-button-prev:after,
#artifact .swiper .button-text-white.swiper-button-next:after {
    color: #ffffff;
}

#artifact .m-swiper-bullets-1em .swiper-pagination-bullet,
#artifact .swiper-bullets-1em .swiper-pagination-bullet {
    width: 1em;
    height: 1em;
    border-radius: 99999px;
}

#artifact .swiper-bullets-2em .swiper-pagination-bullet {
    width: 1.25em;
    height: 1.25em;
    border-radius: 99999px;
}

#artifact .swiper-bullets-3em .swiper-pagination-bullet {
    width: 2em;
    height: 2em;
    border-radius: 99999px;
}

@media screen and (min-width: 29.75em /* 476px */) {
    #artifact .swiper-bullets-2em .swiper-pagination-bullet {
        width: 2em;
        height: 2em;
    }

    #artifact .swiper-bullets-3em .swiper-pagination-bullet {
        width: 3em;
        height: 3em;
    }
}

@media screen and (min-width: 61.25em /* 980px */) {
    #artifact .swiper .swiper-text-white .swiper-pagination-bullet > p {
        transform: scale(0.75) translateY(2px);
    }

    #artifact .electrolux-custom-button-prev {
        left: 1%;
    }

    #artifact .electrolux-custom-button-next {
        right: 1%;
    }

    #artifact .swiper-bullets-1em .swiper-pagination-bullet {
        width: 1em;
        height: 1em;
    }

    #artifact .d-swiper-bullets-1\.5em .swiper-pagination-bullet {
        width: 1.25em;
        height: 1.25em;
    }

    #artifact .swiper-bullets-2em .swiper-pagination-bullet,
    #artifact .d-swiper-bullets-2em .swiper-pagination-bullet {
        width: 1.5em;
        height: 1.5em;
    }

    #artifact .swiper-bullets-3em .swiper-pagination-bullet,
    #artifact .d-swiper-bullets-3em .swiper-pagination-bullet {
        width: 2.5em;
        height: 2.5em;
    }
}

@media screen and (min-width: 75em /* 1200px */) {
    #artifact .swiper .swiper-text-white .swiper-pagination-bullet > p {
        transform: scale(0.75) translateY(2px);
    }

    #artifact .d-swiper-bullets-1\.5em .swiper-pagination-bullet {
        width: 1.5em;
        height: 1.5em;
    }

    #artifact .swiper-bullets-2em .swiper-pagination-bullet,
    #artifact .d-swiper-bullets-2em .swiper-pagination-bullet {
        width: 2em;
        height: 2em;
    }

    #artifact .swiper-bullets-3em .swiper-pagination-bullet,
    #artifact .d-swiper-bullets-3em .swiper-pagination-bullet {
        width: 3em;
        height: 3em;
    }
}
