#artifact {
    font-size: var(--default-font-size);
    line-height: 1.3141816;
}

#artifact.font-electrolux {
    font-family: var(--default-electrolux-font) !important;
    letter-spacing: 0.017em;
}

#artifact.font-mademsa {
    font-family: var(--default-mademsa-font) !important;
}

#artifact i {
    font-style: italic !important;
}

#artifact .font-electrolux-light {
    font-family: var(--font-electrolux-light);
}

#artifact .font-electrolux-regular {
    font-family: var(--default-electrolux-font);
}

#artifact .font-electrolux-bold {
    font-family: var(--font-electrolux-bold);
}

#artifact .font-electrolux-semibold {
    font-family: var(--font-electrolux-semibold);
}

#artifact .font-mademsa-light {
    font-family: var(--font-mademsa-light);
}

#artifact .font-mademsa-regular {
    font-family: var(--default-mademsa-font);
}

#artifact .font-mademsa-bold {
    font-family: var(--font-mademsa-bold);
}

#artifact .text-uppercase {
    text-transform: uppercase;
}

#artifact .text-white {
    color: white;
}

#artifact .text-center {
    text-align: center;
}

#artifact .text-left {
    text-align: left;
}

#artifact .text-right {
    text-align: right;
}

#artifact .text-m-center-d-left {
    text-align: center;
}

#artifact .text-center-right {
    text-align: center;
}

#artifact .line-height-1\.125 {
    line-height: 1.125 !important;
}

#artifact footer p {
    font-size: 82.75%;
}

#artifact .h-intro {
    font-size: var(--title-intro-base);
}

#artifact .h-section-bigger {
    font-size: var(--title-section-bigger);
}

#artifact .h-section .m-h-section {
    font-size: var(--title-section-base);
}

#artifact .p-title {
    font-size: var(--text-intro-base);
}

#artifact .p-text,
#artifact .m-p-text {
    font-size: var(--text-section-base);
}

@media screen and (min-width: 22.5em /* 360px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.125);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 1.25);
    }

    #artifact .h-section,
    #artifact .m-h-section {
        font-size: calc(var(--title-section-base) * 1.25);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 1.125);
    }

    #artifact .p-text,
    #artifact .m-p-text {
        font-size: calc(var(--text-section-base) * 0.85);
    }

    #artifact .p-text-smaller {
        font-size: calc(var(--text-section-base) * 0.525);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 1.125) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 1.125) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 1.125) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 0.85) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 0.85) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 0.85) * 1.5);
    }
}

@media screen and (min-width: 23.438em /* 375px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.2);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 1.325);
    }

    #artifact .h-section,
    #artifact .m-h-section {
        font-size: calc(var(--title-section-base) * 1.325);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 1.2);
    }

    #artifact .p-text,
    #artifact .m-p-text {
        font-size: calc(var(--text-section-base) * 0.925);
    }

    #artifact .p-text-smaller {
        font-size: calc(var(--text-section-base) * 0.675);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 1.2) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 1.2) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 1.2) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 0.925) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 0.925) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 0.925) * 1.5);
    }
}

@media screen and (min-width: 25.875em /* 414px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.325);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 1.45);
    }

    #artifact .h-section,
    #artifact .m-h-section {
        font-size: calc(var(--title-section-base) * 1.45);
    }

    #artifact .h-section-smaller {
        font-size: calc(var(--title-section-base) * 1.2);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 1.325);
    }

    #artifact .p-text,
    #artifact .m-p-text {
        font-size: calc(var(--text-section-base) * 1.05);
    }

    #artifact .p-text-smaller {
        font-size: calc(var(--text-section-base) * 0.875);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 1.325) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 1.325) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 1.325) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 1.05) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 1.05) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 1.05) * 1.5);
    }
}

@media screen and (min-width: 26.875em /* 430px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.25);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 1.375);
    }

    #artifact .h-section,
    #artifact .m-h-section {
        font-size: calc(var(--title-section-base) * 1.375);
    }

    #artifact .h-section-smaller {
        font-size: calc(var(--title-section-base) * 1.125);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 1.4);
    }

    #artifact .p-text,
    #artifact .m-p-text {
        font-size: calc(var(--text-section-base) * 1.125);
    }

    #artifact .p-text-smaller {
        font-size: calc(var(--text-section-base) * 0.875);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 1.4) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 1.4) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 1.4) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 1.125) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 1.125) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 1.125) * 1.5);
    }
}

@media screen and (min-width: 32.813em /* 525px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.5);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 1.625);
    }

    #artifact .h-section,
    #artifact .m-h-section {
        font-size: calc(var(--title-section-base) * 1.625);
    }

    #artifact .h-section-smaller {
        font-size: calc(var(--title-section-base) * 1.425);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 1.65);
    }

    #artifact .p-text,
    #artifact .m-p-text {
        font-size: calc(var(--text-section-base) * 1.4);
    }

    #artifact .p-text-smaller {
        font-size: calc(var(--text-section-base) * 1.125);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 1.65) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 1.65) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 1.65) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 1.4) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 1.4) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 1.4) * 1.5);
    }
}

@media screen and (min-width: 37.5em /* 600px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.75);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 1.875);
    }

    #artifact .h-section,
    #artifact .m-h-section {
        font-size: calc(var(--title-section-base) * 1.875);
    }

    #artifact .h-section-smaller {
        font-size: calc(var(--title-section-base) * 1.625);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 1.85);
    }

    #artifact .p-text,
    #artifact .m-p-text {
        font-size: calc(var(--text-section-base) * 1.6);
    }

    #artifact .p-text-smaller {
        font-size: calc(var(--text-section-base) * 1.325);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 1.85) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 1.85) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 1.85) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 1.6) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 1.6) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 1.6) * 1.5);
    }
}

@media screen and (min-width: 44.5em /* 712px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 2);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 2.125);
    }

    #artifact .h-section,
    #artifact .m-h-section {
        font-size: calc(var(--title-section-base) * 2.125);
    }

    #artifact .h-section-smaller {
        font-size: calc(var(--title-section-base) * 1.875);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 2.25);
    }

    #artifact .p-text,
    #artifact .m-p-text {
        font-size: calc(var(--text-section-base) * 2);
    }

    #artifact .p-text-smaller {
        font-size: calc(var(--text-section-base) * 1.675);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 2.25) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 2.25) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 2.25) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 2) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 2) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 2) * 1.5);
    }
}

@media screen and (min-width: 48em /* 768px */) {
    #artifact .text-m-center-d-left {
        text-align: left;
    }

    #artifact .text-center-right {
        text-align: right;
    }

    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.2);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 1.375);
    }

    #artifact .h-section {
        font-size: calc(var(--title-section-base) * 1.375);
    }

    #artifact .h-section-smaller,
    #artifact .d-h-section-smaller {
        font-size: calc(var(--title-section-base) * 1.125);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 1.325);
    }

    #artifact .p-text {
        font-size: calc(var(--text-section-base) * 1.075);
    }

    #artifact .p-text-smaller,
    #artifact .d-p-text-smaller {
        font-size: calc(var(--text-section-base) * 0.875);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 1.325) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 1.325) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 1.325) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 1.075) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 1.075) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 1.075) * 1.5);
    }
}

@media screen and (min-width: 50em /* 800px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.125);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 1.325);
    }

    #artifact .h-section {
        font-size: calc(var(--title-section-base) * 1.5);
    }

    #artifact .h-section-smaller,
    #artifact .d-h-section-smaller {
        font-size: calc(var(--title-section-base) * 1.25);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 1.325);
    }

    #artifact .p-text {
        font-size: calc(var(--text-section-base) * 1.125);
    }

    #artifact .p-text-smaller,
    #artifact .d-p-text-smaller {
        font-size: calc(var(--text-section-base) * 0.875);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 1.325) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 1.325) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 1.325) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 1.125) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 1.125) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 1.125) * 1.5);
    }
}

@media screen and (min-width: 61.25em /* 980px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.425);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 1.65);
    }

    #artifact .h-section {
        font-size: calc(var(--title-section-base) * 2);
    }

    #artifact .h-section-smaller,
    #artifact .d-h-section-smaller {
        font-size: calc(var(--title-section-base) * 1.75);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 1.5);
    }

    #artifact .p-text {
        font-size: calc(var(--text-section-base) * 1.5);
    }

    #artifact .p-text-smaller,
    #artifact .d-p-text-smaller {
        font-size: calc(var(--text-section-base) * 1.125);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 1.5) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 1.5) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 1.5) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 1.5) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 1.5) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 1.5) * 1.5);
    }
}

@media screen and (min-width: 64em /* 1024px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.425);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 1.75);
    }

    #artifact .h-section {
        font-size: calc(var(--title-section-base) * 2.325);
    }

    #artifact .h-section-smaller,
    #artifact .d-h-section-smaller {
        font-size: calc(var(--title-section-base) * 2.075);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 1.625);
    }

    #artifact .p-text {
        font-size: calc(var(--text-section-base) * 1.75);
    }

    #artifact .p-text-smaller,
    #artifact .d-p-text-smaller {
        font-size: calc(var(--text-section-base) * 1.325);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 1.625) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 1.625) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 1.625) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 1.75) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 1.75) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 1.75) * 1.5);
    }
}

@media screen and (min-width: 75em /* 1200px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.625);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 2.125);
    }

    #artifact .h-section {
        font-size: calc(var(--title-section-base) * 2.725);
    }

    #artifact .h-section-smaller,
    #artifact .d-h-section-smaller {
        font-size: calc(var(--title-section-base) * 2.475);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 1.875);
    }

    #artifact .p-text {
        font-size: calc(var(--text-section-base) * 2.1);
    }

    #artifact .p-text-smaller,
    #artifact .d-p-text-smaller {
        font-size: calc(var(--text-section-base) * 1.75);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 1.875) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 1.875) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 1.875) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 2.1) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 2.1) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 2.1) * 1.5);
    }
}

@media screen and (min-width: 80em /* 1280px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 1.75);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 2.25);
    }

    #artifact .h-section {
        font-size: calc(var(--title-section-base) * 3);
    }

    #artifact .h-section-smaller,
    #artifact .d-h-section-smaller {
        font-size: calc(var(--title-section-base) * 2.5);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 2.125);
    }

    #artifact .p-text {
        font-size: calc(var(--text-section-base) * 2.255);
    }

    #artifact .p-text-smaller,
    #artifact .d-p-text-smaller {
        font-size: calc(var(--text-section-base) * 1.675);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 2.125) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 2.125) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 2.125) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 2.255) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 2.255) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 2.255) * 1.5);
    }
}

@media screen and (min-width: 85.75em /* 1372px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 2);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 2.5);
    }

    #artifact .h-section {
        font-size: calc(var(--title-section-base) * 3.125);
    }

    #artifact .h-section-smaller,
    #artifact .d-h-section-smaller {
        font-size: calc(var(--title-section-base) * 2.875);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 2.125);
    }

    #artifact .p-text {
        font-size: calc(var(--text-section-base) * 2.255);
    }

    #artifact .p-text-smaller,
    #artifact .d-p-text-smaller {
        font-size: calc(var(--text-section-base) * 1.875);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 2.125) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 2.125) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 2.125) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 2.255) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 2.255) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 2.255) * 1.5);
    }
}

@media screen and (min-width: 89.5em /* 1432px */) {
    #artifact .h-intro {
        font-size: calc(var(--title-intro-base) * 2);
    }

    #artifact .h-section-bigger {
        font-size: calc(var(--title-section-bigger) * 2.5);
    }

    #artifact .h-section {
        font-size: calc(var(--title-section-base) * 3.125);
    }

    #artifact .h-section-smaller,
    #artifact .d-h-section-smaller {
        font-size: calc(var(--title-section-base) * 2.875);
    }

    #artifact .p-title {
        font-size: calc(var(--text-intro-base) * 2.325);
    }

    #artifact .p-text {
        font-size: calc(var(--text-section-base) * 2.435);
    }

    #artifact .p-text-smaller,
    #artifact .d-p-text-smaller {
        font-size: calc(var(--text-section-base) * 1.875);
    }

    #artifact .p-title-1\.125x {
        font-size: calc((var(--text-intro-base) * 2.325) * 1.125);
    }

    #artifact .p-title-1\.25x {
        font-size: calc((var(--text-intro-base) * 2.325) * 1.25);
    }

    #artifact .p-title-1\.5x {
        font-size: calc((var(--text-intro-base) * 2.325) * 1.5);
    }

    #artifact .p-text-1\.125x {
        font-size: calc((var(--text-section-base) * 2.435) * 1.125);
    }

    #artifact .p-text-1\.25x {
        font-size: calc((var(--text-section-base) * 2.435) * 1.25);
    }

    #artifact .p-text-1\.5x {
        font-size: calc((var(--text-section-base) * 2.435) * 1.5);
    }
}
